<div class="container-home">
    <div class="row">
        <div class="title_main_page">
            Here are your documents:
        </div>
        <div class="list_of_docs">
            <div class="wrapper">
                <div class="docIcon" href="#">
                    <div class="stripes3">
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">Lorem ipsum</div>
                    <hr>
                    <div class="docContent">dolor sit amet, consectetur adipiscing elit. Donec non rhoncus nulla.</div>
                </div>
            </div>
            <div class="wrapper">
                <div class="docIcon" href="#">
                    <div class="stripes3">
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">TITLETITLE</div>
                    <hr>
                    <div class="docContent">Lorem ipsum a ajksdii  asudh iasdjm ajsnd  ajsdn ajsnd</div>
                </div>
            </div>
            <div class="wrapper">
                <div class="docIcon" href="#">
                    <div class="stripes3">
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">TITLETITLE</div>
                    <hr>
                    <div class="docContent">Lorem ipsum a ajksdii  asudh iasdjm ajsnd  ajsdn ajsnd</div>
                </div>
            </div>
            <div class="wrapper">
                <div class="docIcon" href="#">
                    <div class="stripes3">
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">TITLETITLE</div>
                    <hr>
                    <div class="docContent">Lorem ipsum a ajksdii  asudh iasdjm ajsnd  ajsdn ajsnd</div>
                </div>
            </div>
            <div class="wrapper" (click)="onClickAddNewFile()">
                <div class="docIcon">
                    <div class="circle"></div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">Add a new document</div>
                </div>
            </div>
        </div>
    </div>
</div>
