<div class="container-home">
    <div class="row">
        <div class="title_main_page">
            Here are your documents:
        </div>
        <div class="list_of_docs">
            <div class="wrapper" *ngFor="let file of listOfFiles">
                <div class="delete_button" (click)="onClickDelteFile(file.pk)"><img style="height: 25px; width: 25px" src="https://img.icons8.com/cute-clipart/64/000000/delete-forever.png"></div>
                <div class="docIcon" [routerLink]="['/file/' + file.pk]">
                    <div class="stripes3">
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                        <div class="stripe"></div>
                    </div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">{{file.title}}</div>
                    <hr>
                    <div class="docContent">{{file.short_content}} ...</div>
                </div>
            </div>
            <div class="wrapper_add" (click)="onClickAddNewFile()">
                <div class="docIcon">
                    <div class="circle"></div>
                </div>
                <div class="text-wrap">
                    <div class="docTitle">Add a new document</div>
                </div>
            </div>
        </div>
    </div>
</div>
