<div class="container-home">
  <div class="row">
    <div class="title_main_page">Add a new document</div>
    <form
      [formGroup]="newArticleForm"
      (ngSubmit)="onSubmitForm()"
    >
      <div class="form-group">
        <label for="title">
          Title:
        </label>
        <input
          id="title" name="title" formControlName="title" placeholder="Title"
        >
      </div>
      <div class="form-group">
        <label for="text">
        Text:
      </label>
      <textarea
      id="text" name="text" formControlName="text" type="string" placeholder="Enter your wanted text here..."
      rows="28" cols="117" class="textarea"
      ></textarea>
      </div>
      <button class="button-primary">Submit</button>

    </form>
  </div>
</div>
