<div class="container">
  <div class="card">
        <h2 class="title">
          <b *ngIf="emailHasBeenSend">Email Sent!</b>
        </h2>
        <h4 *ngIf="emailHasBeenSend" class="subtitle" style="margin-top: 20px">
          <span class="text-muted">An email with the reset password link was sent to the email address in your profile.
            If you did not receive the email, verify that the user name is correct or contact the
            system administrator.
          </span>
        </h4>
        <h2 class="title">
          <b *ngIf="!emailHasBeenSend">Find Your Account</b>
        </h2>
        <h4 class="subtitle" *ngIf="!emailHasBeenSend">
          Please enter your email address to send a reset password link for your account.
        </h4>

        <form
          *ngIf="!emailHasBeenSend"
          [formGroup]="forgottenAccountForm"
          (ngSubmit)="onSubmitForgotten($event)"
        >
          <div class="form-group">
            <label for="emailForgotten">
              E-mail:
            </label>
            <input [ngStyle]="{'border': errors.email ? '1px solid red' : ''}"
                id="emailForgotten" name="emailForgotten"
                formControlName="emailForgotten"
                class="form-control" type="text"
                placeholder="e-mail"
              >
              <span style="color: red">{{errors.email}}</span>
            </div>
          <button type="submit" class="button-primary">
            Send
          </button>
        </form>
      </div>
  </div>
