<div class="py-5" style="background-color: whitesmoke ;background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10" style="opacity: 0.95">
        <h2 class="mb-1 text-center">
          <b>You are almost done</b>
        </h2>
        <h4 class="mb-3 text-center" *ngIf="!emailHasBeenSend">
          Reset your password
        </h4>

        <form
          [formGroup]="passwordReset"
          (ngSubmit)="onSubmitPasswordReset($event)"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password1Reset">
                Password:
              </label>
              <input
                [ngStyle]="{'border': errors.new_password1 ? '1px solid red' : ''}"
                id="password1Reset" name="password1Reset"
                formControlName="password1Reset"
                class="form-control" type="password"
                placeholder="*******"
              >
              <span style="color: red">{{errors.new_password1}}</span>
            </div>
              <div class="form-group col-md-6">
                <label for="password2Reset">
                  Confirm Password:
                </label>
                <input
                  [ngStyle]="{'border': errors.new_password2 ? '1px solid red' : ''}"
                  id="password2Reset" name="password2Reset"
                  formControlName="password2Reset"
                  class="form-control" type="password"
                  placeholder="*******"
                >
              <span style="color: red">{{errors.new_password2}}</span>
            </div>
            <button type="submit" class="btn btn-primary mt-4 btn-block pt-2">
              <h4><b>Submit</b></h4>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
