  <div class="container">
    <div class="card">
        <h2 *ngIf="everythingWorkedOk" class="title">
          You're done!
        </h2>
        <h4 *ngIf="everythingWorkedOk" class="subtitle" style="margin-top: 20px">
            The account was successfully created.
        </h4>

        <h2 *ngIf="!everythingWorkedOk" class="title">
          Something went wrong!
        </h2>
        <h4 *ngIf="!everythingWorkedOk" class="subtitle" style="margin-top: 20px">
            Please contact us at stud.helper.email@gmail.com to solve the issue. Thank you!
        </h4>
    </div>
  </div>
