<div class="py-5" style="background-color: whitesmoke ;background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10" style="opacity: 0.95">
        <h2 class="mb-1 text-center">
          <b>You're done!</b>
        </h2>
        <h4 class="mb-3 text-center" style="margin-top: 20px">
          <span class="text-muted">
            The account was successfully created.
          </span>
        </h4>
      </div>
    </div>
  </div>
</div>
