<style>
  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
</style>

<div class="header">
  <div class="left-side">
    <div class="logo-image"></div>

    <a *ngIf="!authService.isUserAuthenticated()" [routerLink]="'/'">
      <div class="company-name">studHelper</div>
    </a>
    <a *ngIf="authService.isUserAuthenticated()" [routerLink]="'/home'">
      <div class="company-name">studHelper</div>
    </a>
  </div>

  <!--If the user is not authenticated then show the form for log in on the header-->
  <div class="right-side">
  <form
    *ngIf="!authService.isUserAuthenticated()"
    [formGroup]="signinForm"
    (ngSubmit)="onSubmitSignin($event)"
  >
    <a [routerLink]="'/forgotten-account'" >Forgotten account?</a>
    <div>
      <input
        [ngStyle]="{'border': errors.email || errors.non_field_errors ? '1px solid red' : ''}"
        id="emailHeader" name="emailHeader"
        formControlName="emailHeader"
        type="email"
        placeholder="e-mail">
    </div>
    <div>
      <input
        [ngStyle]="{'border': errors.password || errors.non_field_errors ? '1px solid red' : ''}"
        id="password" name="password"
        formControlName="password"
        type="password"
        placeholder="********">
    </div>
    <button (click)="onSubmitSignin($event)" type="submit" class="button-primary" style="display: block">Log in</button>
  </form>


  <!--Else show the buttons for the site-->
  <ul class="menu" *ngIf="authService.isUserAuthenticated()">
    <li class="menu-item"> <a [routerLink]="'/home'">Files</a> </li>
    <button (click)="onLogoutClicked()" class="button-primary">Log out</button>
  </ul>

  </div>
</div>
