.container {
    background-image: url('https://stud-help.herokuapp.com/static/assets/img/book-cover.jpg');
    background-size:cover;
    margin-top: 75px;
    height: 900px;
    .container-2 {
        width: 760px;
        background-color: #12bbad;
        margin: auto;
    }
}
