<div class="container">
  <div class="card">
      <div *ngIf="signupFormSubmitted">
        <h2 class="title">
        <b>Thank you!</b>
      </h2>
      <h4 class="subtitle">
        We've send a confirmation email to check the validity of the data you've entered. Please check your email and come back later!
      </h4>
      </div>

      <div *ngIf="!signupFormSubmitted">
      <h2 class="title">
        <b>Create an account!</b>
      </h2>
      <h4 class="subtitle">
        It is free and it will always be that way!
      </h4>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitRegister($event)">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">
              First Name:
            </label>
            <input
              [ngStyle]="{'border': errors.first_name ? '1px solid red' : ''}"
              id="firstName" name="firstName"
              formControlName="firstName"
              class="form-control" type="text"
              placeholder="first name"
            >
            <span style="color: red">{{errors.first_name}}</span>
          </div>
          <div class="form-group">
            <label for="lastName">
              Last Name:
            </label>
            <input
              [ngStyle]="{'border': errors.last_name ? '1px solid red' : ''}"
              id="lastName" name="lastName"
              formControlName="lastName"
              class="form-control"  type="text"
              placeholder="last name">
            <span style="color: red" *ngFor="let error of errors.last_name">{{error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="username">
            Username:
          </label>
          <input
            [ngStyle]="{'border': errors.username ? '1px solid red' : ''}"
            id="username" name="username"
            formControlName="username"
            class="form-control" type="text"
            placeholder="username">
          <span style="color: red" *ngFor="let error of errors.username">{{error}}</span>
        </div >
        <div class="form-group">
          <label for="emailHomepage">
            E-mail:
          </label>
          <input
            [ngStyle]="{'border': errors.email ? '1px solid red' : ''}"
            id="emailHomepage" name="emailHomepage"
            formControlName="emailHomepage"
            class="form-control" type="text"
            placeholder="e-mail">
          <span style="color: red" *ngFor="let error of errors.email">{{error}}</span>
        </div>
        <div class="form-group">
          <label for="passwordHomepage1">
            Password:
          </label>
          <input
            [ngStyle]="{'border': errors.password1 ? '1px solid red' : ''}"
            id="passwordHomepage1" name="passwordHomepage1"
            formControlName="passwordHomepage1"
            type="password" class="form-control"
            placeholder="********">
          <span style="color: red" *ngFor="let error of errors.password1">{{error}}</span>
        </div>
        <div class="form-group">
          <label for="passwordHomepage2">
            Confirm password:
          </label>
          <input
            [ngStyle]="{'border': errors.password2 ? '1px solid red' : ''}"
            id="passwordHomepage2" name="passwordHomepage2"
            formControlName="passwordHomepage2"
            type="password" class="form-control"
            placeholder="********">
          <span style="color: red" *ngFor="let error of errors.password2">{{error}}</span>
        </div>
        <button type="submit" class="button-primary">
          Create
        </button>
      </form>
      </div>
  </div>
</div>
